/public/
# Node
node_modules/
portfolio/node_modules
.next/
out/
dist/

# Hugo
.hugo_build.lock
blog/resources/_gen/

# OS
.DS_Store

# Env
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
